.box-layout {
	padding-top: 25vh;
	align-items: flex-start;
//	background: url('/images/bg.jpg');
//	background-size: cover;
	z-index: 99;
	display: flex;
	position: absolute;
	margin: auto;
	top: 0;
	left: calc(50% - 25rem / 2);
	justify-content: center;
}

.box-layout__box {
	background: fade-out(white, .15);
	border-radius: 3px;
	padding: $l-size $m-size;
	text-align: center;
	width: 25rem;
}

.box-layout__title {
	margin: 0 0 $m-size 0;
	line-height: 1;
}

